<div class="dashboard">
  <!-- Barre de navigation -->
  <app-navigation [(activeSection)]="activeSection"></app-navigation>
  <!-- Contenu principal -->
  <main class="main-content">
    <!-- Section soutenance prevue -->
    @if (activeSection === 'soutenance'){
      <div class="content-section">
        <h2>soutenances</h2>
        <app-liste-soutenance-encadrant-component></app-liste-soutenance-encadrant-component>
      </div>
    }
    <!-- Section projets a encadrer -->
    @if (activeSection === 'projets'){
      <div class="content-section">
        <h2>Projets encadrés</h2>
        <app-liste-projet-encadrer-component></app-liste-projet-encadrer-component>
      </div>
    }

    <!-- Section Messagerie -->
    @if (activeSection === 'messagerie'){
      <div class="content-section">
        <h2>Messagerie</h2>
      </div>
    }
  </main>
</div>
