  <button class="btn btn-list" [class.active]="activeSection === 'listeUtilisateur'"
        (click)="setActiveSection('listeUtilisateur')">Liste utilisateur
  </button>

  <button type="submit" (click)="ajouterUtilisateurModal()" class="btn btn-list">
    Ajouter un utilisateur
  </button>
  <!-- Modal -->
  <div class="modal"
       [class.show]="ouvrirAjouterUtilisateur"
       (click)="onBackdropClick($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="fermerAjouterUtilisateur()">&times;</span>
      <app-utilisateur-component></app-utilisateur-component>
    </div>
  </div>

@if (activeSection === 'listeUtilisateur'){
  <h3>Liste des utilisateur</h3>
  @for (utilisateur of utilisateurs; track utilisateur.id){
    <div class="user-row">
      <p>{{ utilisateur.nom }}</p>
      <p>{{ utilisateur.prenom }}</p>
      <p>{{ utilisateur.role }}</p>
      <button (click)="DetailModal(utilisateur.id)">
        voir
      </button>
    </div>
  }

  <!-- Modal -->
  <div class="modal"
       [class.show]="isOpen"
       (click)="onBackdropClick($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="fermerDetailUtilisateur()">&times;</span>
      <app-utilisateur-detail [utilisateurId]="selectedUtilisateurId"></app-utilisateur-detail>
    </div>
  </div>
}
