.main-content {
  font-family: "Poppins", sans-serif;
  margin-top: 130px;
  margin-right: 40px;
}

/* Style pour la bannière de bienvenue */
.welcome-item {
  flex: 1; /* prend la place nécessaire à gauche */
}

.welcome-banner {
  display: flex;
  flex-direction: column;
}

.welcome-text h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.welcome-text p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* fond sombre */
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex; /* visible quand .show est présent */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 500px;
  max-width: 90%;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}
.create-actions {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-top: 20px;
}
.btn-list {
  background: transparent;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-list:hover {
  background-color: #007bff;
  color: white;
}

