.container{
  margin-left: 100px;
  width: 1000px;
}

.notification{
  color: white;
  background: #007bff;
  border-radius: 15px;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
