<div class="list-container">
  <div class="content">
    <div class="header-actions">
      <h2>Liste des livrables</h2>
    </div>
    @if (livrables.length > 0) {
      <table class="data-table">
        <thead>
        <tr>
          <th>Titre</th>
          <th>Libelle</th>
          <th>Fichier</th>
          <th>Date de soumission</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          @for (livrable of livrables; track livrable.id) {
            <tr>
              <td>{{ livrable.titre }}</td>
              <td [style.color]="livrable.valider ? 'green' : 'red'">
                {{ livrable.option }}
              </td>
              <td>
                <a [href]="livrable.fichier" target="_blank">
                  Télécharger
                </a>
              </td>
              <td>{{ livrable.date_soumission }}</td>
              <td>
                <div class="actions">
                  <button (click)="deleteLivrable(livrable.id)" class="btn btn-delete">Supprimer</button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</div>
