<div class="dashboard">
  <app-navigation [(activeSection)]="activeSection"></app-navigation>
  <!-- Main Content -->
  <main class="main-content">
      <!-- Section accueil -->
      @if (activeSection === 'accueil'){
        <div class="card notifications small">
          <app-notifications></app-notifications>
        </div>
      }
      <!-- Projets -->
      @if (activeSection === 'projet'){
        <div class="card livrables">
          <app-liste-projet-dispo></app-liste-projet-dispo>
        </div>
      }
    <!-- Messagerie -->
      @if (activeSection === 'messagerie'){
        <div class="card messagerie">
          <h3>💬 Messagerie</h3>

         </div>
      }
      <!-- Soutenance -->
      @if (activeSection === 'soutenance'){
        <div class="card soutenance">
          <h3>📅 Planning Soutenance</h3>
          <app-detail-soutenance></app-detail-soutenance>
        </div>
      }
      <!-- Commentaires -->
      @if (activeSection === 'commentaires'){
        <div class="card comments">
          <h3>📝 Commentaires</h3>
        </div>
      }
  </main>
</div>
